{# src/SC/ActiviteBundle/Resources/views/Stage/add.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}
  Ajouter une activité - {{ parent() }}
{% endblock %}


{% block activité_body %}
   <p><FONT color="red">
      {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
          <p>{{ message }}</p>
        {% endfor %}
    </FONT></p>
  {{ include("SCActiviteBundle:Stage:form.html.twig") }}
 
{% endblock %}