{# src/SC/ActiviteBundle/Resources/views/index.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block activité_body %}
    <ul>
        {{ include("SCActiviteBundle:Stage:form.html.twig") }}
        <h4>Choisissez quel enfant inscrire au stage</h4>
    </ul>
    <p>
    {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <FONT COLOR="red" > <p>{{ message }}</p> </FONT>
      {% endfor %}
    </p>
    
    
{% endblock %}