{# src/SC/ActiviteBundle/Resources/views/index.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block activité_body %}
    <ul>
        {% if (activite.typeLicence == null) %}
        <p>Il n'y pas besoin de licence pour ce stage. </p>
        {% else %}
        <p>Choisissez quel enfant inscrire au stage.
        <br>
        Si l'enfant ne possède pas la licence pour l'activité en question, une 
        licence pour cette activité sera automatiquement prise lors de l'inscription.
        <br>
        En cliquant sur le bouton enregistrer, la licence sera ajoutée automatiquement à vos frais.
        </p>
        {% endif %}
        {{ include("SCActiviteBundle:Stage:form.html.twig") }}
    </ul>
    <p>
    {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <FONT COLOR="red" > <p>{{ message }}</p> </FONT>
      {% endfor %}
    </p>
    
{% endblock %}