{# src/SC/UserBundle/Resources/views/Default/index.html.twig #}

{% extends "SCUserBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
  
{% endblock %}

{% block user_body %}

  <h2>Liste des annonces</h2>
  <ul>
      
   <li> <a href="{{ path('login') }}">Se connecter</a></li>
    <li><a href="{{ path('sc_user_register') }}">S'enregistrer</a></li>
    

    

        
      
    

      <li>Pas (encore !) d'annonces</li>
  </ul>
  
<html>
  <body>
  </body>
</html>

{% endblock %}