{# src/SC/ActiviteBundle/Resources/views/Activite/edit.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}
  Modifier une activité - {{ parent() }}
{% endblock %}

{% block activité_body %}
    
  
  {% if is_granted('ROLE_ADMIN') %}
      {%if edit is not defined%}
  <p> Si la licence de l'activité n'existe pas ci-dessous veuillez d'abord l'ajouter </p> 
    <a href="{{ path('sc_licence_add')}}"class="btn btn-default">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Ajouter une licence
    </a>
     {%endif%}

  {{ include("SCActiviteBundle:Activite:form.html.twig") }}

  
  <p>
    <a href="{{ path('sc_activite_view', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'activite
    </a>
  </p>
  {% endif %}
  
{% endblock %} 
