{% extends "::layout.html.twig" %}

{% block title %}
  Gestion - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Bienvenue sur le site</h1>

  

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block user_body %}
  {% endblock %}

{% endblock %}
