{# src/SC/ActiviteBundle/Resources/views/edit.html.twig #}
{% extends "SCActiviteBundle::layout.html.twig" %}
{% block title %}
  Modifier une activité - {{ parent() }}
{% endblock %}

{% block activité_body %}
  
  {{ include("SCActiviteBundle::form.html.twig") }}

  <p>
    <a href="{{ path('sc_activite_view', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'activite
    </a>
  </p>
{% endblock %} 
