{# src/SC/ActiviteBundle/Resources/views/index.html.twig #}
{% extends "SCActiviteBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block activité_body %}
<ul>
 
    {% for sortie in listSortie %}
       {{ sortie.dateSortie }} --- {{ sortie.lieu.nomLieu }}
       
        <a href="{{ path('sc_activite_deleteSortie', {'id': activite.id}) }}">
        </a>
        <br/>    
    {% endfor %}    
</ul> 
 
{% endblock %} 

