{# src/SC/ActiviteBundle/Resources/views/InscriptionActivite/addinscriactivite.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}
  Inscription à une activité - {{ parent() }}
{% endblock %}


{% block activité_body %}
    
  <p>
    {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <FONT COLOR="red" > <p>{{ message }}</p> </FONT>
      {% endfor %}
  </p>
  
     {% if   app.session.get('email')    !=null  %}
  {{ include("SCActiviteBundle:InscriptionActivite:forminscriactivite.html.twig") }}
  <br>
  <p>
    <a href="{{ path('sc_activite_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    {% endif %}
 
  
{% endblock %} 