{# src/SC/LicenceBundle/Resources/views/indexlicence.html.twig #}
{% extends "SCLicenceBundle::layoutlicence.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block licence_body %}
    

    {% if is_granted('ROLE_ADMIN') %}
  
<ul>
    
    {% for licence in listeLicences %}
        <h4> <a href="{{ path('sc_licence_view', {'typeLicence': licence.typeLicence}) }}">
          {{ licence.typeLicence }}
            </a>  </h4>
   
        
    {% endfor %}
    
    
    <br>
    <a href="{{ path('sc_licence_add')}}" class="btn btn-default">
       <i class="glyphicon glyphicon-plus-sign"></i>
      Ajouter une licence
    </a>
    {% endif %}
    
</ul>



{% endblock %} 


