{# src/SC/ActiviteBundle/Resources/views/Admin/contact.html.twig #}
{% extends "SCUserBundle::layout.html.twig" %}

{% block user_body %}

    
    <h2>Coordonnées </h2>

<p>Pour tout renseignement, toute demande d’information, vous pouvez nous contacter à l’adresse mail suivante : <br>
<br>
scpetitesroches@gmail.com <br>
<br>
Nous y répondrons le plus rapidement possible.<br>
<br>
Pour le ski alpin :<br>
Samuel GIROU: 06.31.07.84.97<br>
Fred PETIT: 06.19.89.98.89<br>
Catherine LOUVEL DE MONCEAU : 04.76.08.37.08<br>
<br>
Pour le ski de fond<br>
Nathalie DESSEUX: 06.89.66.04.20<br>
<br>
Le SCPR </p>


 
{% endblock %} 

