{# src/SC/UserBundle/Resources/views/Admin/index.html.twig #}

{% extends "SCUserBundle::layout.html.twig" %}


{% block user_body %}

    
    <h4><a href="{{ path('sc_activite_homepage') }}">Liste des activités proposées</a><h4/>
    <h4><a href="{{ path('sc_admin_listUsersInactif') }}">Liste des comptes à activer </a><h4/>
    <h4><a href="{{ path('sc_admin_listNoAdmin') }}">Liste des clients (no Admin) </a><h4/>
    
{% endblock %}