{# src/SC/UserBundle/Resources/views/Admin/index.html.twig #}

{% extends "SCUserBundle::layout.html.twig" %}


{% block user_body %}

    <h3>Gestion des utilisateurs</h3>
    <br>

    <h4><a href="{{ path('sc_admin_listUsersInactif') }}">Activer des comptes</a><h4/>
    <h4><a href="{{ path('sc_admin_listNoAdmin') }}">Gestion des comptes</a><h4/>

       
    
{% endblock %}