{# src/SC/UserBundle/Resources/views/Admin/index.html.twig #}

{% extends "SCUserBundle::layout.html.twig" %}


{% block user_body %}

    
    <h2><a href="{{ path('sc_activite_add') }}">Ajouter une activite</a><h2/>
    <h2><a href="{{ path('sc_admin_listUsersInactif') }}">Liste des comptes à activer </a><h2/>
    
    
{% endblock %}