{% extends "SCUserBundle::layout.html.twig" %}

{# src/SC/ActiviteBundle/Resources/views/Activite/form.html.twig #}


{% block user_body %}
    <h2>Nouvel utilisateur secondaire</h2>
  {{ form(form) }}
{% endblock %}
