{# src/OC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "SCUserBundle::layout.html.twig" %}





    
{% block user_body %}
          <h2>Connexion</h2>
  
  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <form action="{{ path('login_check') }}" method="post">
    <label for="username">Login (e-mail) :</label>
    <input type="text" id="email" name="_email" value="" />

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />
    <br />
    <input type="hidden" name="_target_path" value="sc_user_compte" />
    <input type="submit" value="Connexion" />
  </form>
    {% endblock %}
