{% extends "SCUserBundle::layout.html.twig" %}



{% block user_body %}
    
    <h4> Enfant(s) inscrit(s) :
        <ul> {% for enfant in listEnfants %}
                <li>{{ enfant.prenomEnfant }} </li>
            {% endfor %}
        </ul>
     <h4/>
    

    <a href="{{ path('sc_enfant_ajouter')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus-sign"></i>
        Ajouter un Enfant
    </a
{% endblock %}