{% extends "SCUserBundle::layout.html.twig" %}

{# src/SC/ActiviteBundle/Resources/views/Activite/form.html.twig #}


{% block user_body %}
    <h2>Formulaire d'inscription</h2>
  {{ form(form) }}
  <p><FONT color="red">
      {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
          <p>{{ message }}</p>
        {% endfor %}
    </FONT></p>
{% endblock %}
